/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* =============================================================================
   Base styles: opinionated defaults
   ============================================================================= */
/* COLORS =============================================
   Dark Pink (Magenta): #b21e49;
   Light Grey: #eeeeee;
   Bright Pink: #ff1256;
   Dark Grey: #222222;
   Blue: #23a4cc;
 ============================================= */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ============================================================================================================================================
   Author's custom styles
   ============================================================================================================================================ */
/***************************************************************base styles***********************************************************/

body, html{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eee;
  max-width: 96%;
}

a {
  font-weight:700;
 	color:#23a4cc;
  text-decoration:none;
}

p{
  font-size:1em;
  line-height:1.4;
}

h1, h2, h3, h4 {
  font-weight:700;
}

h1 {
  line-height: 1.6;
  font-size: 2em;
}

h2{
  font-size:1.25em;
}

h3{
  font-size:1.15em;
}

h4 {
  font size: 1em;
}

.btn{
    background-color: #b21e49;
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    box-shadow: 2px 2px 0px #DADADA;
    height: 2.5em;
    width: 100%;
    display: block;
}

.btn:hover{
    background-color: #ff1256;
}

input.btn{
    background-color: #ff1256;
}

input.btn:hover{
    background-color: #b21e49;
}

.no-border{
    border: none;
}

/*********************header area**************************/
.main-header {
  width: 100%;
  background-color: #eee;
  margin: auto;
  padding: 0 2%;
}

#logo{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.fa {
  padding-right: 10px;
}

nav{
  width: 100%;
  background:#ddd;
}

nav ul {
  list-style:none;
  padding:0;
}

nav ul li{
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px 0;
}

nav ul li a{
  font-size: 1.125em;
  text-transform: uppercase;
  color: #333;
}

nav ul li a:hover{
  color: #FF1256;
}

/********************************main area********************/
.main {
  width: 100%;
  padding: 0 2%;
  margin:auto;
}

.top-img {
  width: 100%;
  height: auto;
  margin:auto;
}

.top-img img{
  max-width: 100%;
  max-height: 100%;
}

.top-story{
  width: 100%;
  margin:auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

/************************sidebar area*********************/
.sidebar {
  width: 100%;
  margin:auto;
}

.newsletter {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.newsletter input{
  width: 100%;
  box-sizing: border-box;
}

.newsletter input[type="text"]{
  margin-bottom: 10px;
  padding: 5px 0;
}

.upcoming, .faq {
  display:none;
}

.detail .newsletter {
  border-bottom:none;
}
/********************newsfeed area*******************/
.feed {
  width: 100%;
  height:auto;
  margin:auto;
}

.feed p{
  display:none;
}

.feed-item {
  clear:both;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
  margin: auto;
  display: inline-block;
}

.feed-item h2 a {
  color:#222;
}

.feed-item h2 a:hover{
  color: #23a4cc;
}

.feed-item:nth-child(7){
  border-bottom: none;
  padding-bottom: 2em;
}

.feed-type{
  text-transform:uppercase;
  font-size:1em;
}

.feed-image{
  width: 45%;
  float: left;
  margin: 0;
  padding-right: 3%;
}

.feed-image img{
  max-width: 100%;
  max-height: 100%;
}

.feed-info {
  margin: 0;
  width:45%;
  float: left;
  height: auto;
}

.feed-info h2{
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
}

/***********************detail pages**********/
.reviews-img, .news-img{
    width:100%;
    margin: 0;
}

/*****************footer area****************/

#footer-logo {
  width: 100%;
  margin:auto;
  height: auto;
  border-top: 1px solid #ccc;
  padding: 1.5em 2% 0px 2%;
}

#footer-logo img{
  width:46.8%;
  margin:auto;
  display: block;
}

/******************************************FAQ*************************************************/
.faq-item{
  border-bottom: 1px solid #ccc;
}
/*************************************ABOUT PAGE*****************************************/
.contact-us p {
  line-height: 0.75;
}

.map-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.team{
padding-bottom: 10em;
}

.team-member{
  padding-bottom: 1em;
}

.team-img{
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  width:40%;
  padding-bottom:40%;
  float:left;
  margin-right:20px;
  border:1px solid #ccc;
}

.team-name{

}

.team-title{

}

.team-description{
  display:none;
}

#team-img-01 {
	background-image:url('../img/team-jack.png');
}

#team-img-02 {
	background-image:url('../img/team-lana.png');
}

#team-img-03 {
	background-image:url('../img/team-willow.png');
}
/*******************************************************CONCERTS*****************************************************/
#current {
  color: #ff1256;
}

.concerts-column1 {
  padding-bottom: 10em;
  width:100%;
  display: block;
}

.concerts-column2 {
  display: none;
}

.concert-icon{
  width: 30%;
  float: left;
  margin: 0;
  height: auto;
}

.concert-info {
  float: left;
  width: 55%;
}

.ticket-btn {
  background-color: #b21e49;
  border: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  box-shadow: 2px 2px 0px #DADADA;
  height: 2.5em;
  width: 100%;
  display: block;
}


/************************************************REVIEWS*****************************************/
.top-review{
  width: 100%;
  margin:auto;
}

.write {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding-bottom: 20px 0px 20px 0px;
}
/* ===================================================================================================================
   Helper classes
   =================================================================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/****************************************************************TABLET**************************************************************************
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */

/**********header area*******************/

  .main-header{
    width:100%;
    float:left;
    height: 100%;
  }

  #logo{
    width:35%;
    float: left;
    text-align:left;
  }

  #logo img{
    max-width: 100%;
    max-height: 100px;
  }

  nav{
    width:100%;
    height: 100px;
  }

  nav ul {
    margin: 0px;
    padding: 15px 1em 0px 0px;
    float: right;
  }

  nav ul li{
    text-align:left;
    display: inline-block;
    padding: 20px 7px;
    border-bottom: 0px;
  }

/*******************featured story area*******************************/

  .main {
    float:left;
    padding: 1em 2% 12em 2%;
  }

  .top-story{
    padding-bottom: 1em;
    float:left;
    border-bottom: 1px solid #ccc;
  }

  .top-img{
    width:57%;
    float:left;
  }

  .top-info{
    width:40%;
    float:left;
    padding-left: 1em;
  }

  .top-info h1{
    margin: 0px;
    font-size: 1.5em;
  }

  .top-info p {
    margin-top: 0px;
  }
/***********************************sidebar area*******************************/

  .sidebar{
    clear:both;
    width:39%;
    float:right;
    padding-bottom:30em;
  }

  .upcoming, .faq {
    display:block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
  }

/****************news feed area**************************/

  .feed {
    width:60%;
    float:left;
    border-right: 1px solid #ccc;
  }

  .feed-image {
    width:35%;
    height:auto;
  }

/**********************footer********************/

  #footer-logo{
    width: 100%;
    clear:both;
    padding-top: 2em;
    border-top: 1px solid #ccc;
  }

  #footer-logo img{
    width:25%;
  }

/*****************************************FAQ*******************************************/
.faq-item:nth-child(4){
  padding-bottom: 20em;
}
/*************************************ABOUT PAGE*****************************************/
  .contact-info{
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }

  .contact-us {
    float: left;
    padding-right: 2em;
  }

  .map-container{
    padding-bottom:60%;
  }

  .mission {
    clear: both;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }

  .team{

  }

  .team-member{

  }

  .team-img{
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    width:15%;
    padding-bottom:15%;
    float:left;
    margin-right:50px;
    border:1px solid #ccc;
  }

  .team-name{

  }

  .team-title{

  }

  .team-description{
    display:none;
  }

  #team-img-01 {
	 background-image:url('../img/team-jack.png');
  }

  #team-img-02 {
	 background-image:url('../img/team-lana.png');
  }

  #team-img-03 {
	 background-image:url('../img/team-willow.png');
  }

/****************************CONCERTS**********************************************/
  .concerts-column1 {
    width: 45%;
    float: left;
    margin: 0 2%;
    padding-bottom: 25em;
  }

  .concerts-column2 {
    width: 45%;
    float: right;
    display: block;
  }

  .concert-info h4 {
    line-height: 0.1em;
  }

  .concert-info p {
    line-height: 0.1em;
  }

/*************************************NEWS*****************************************/

  .newsletter {
    float: left;
    width: 100%;
  }

/*******************************************REVIEWS*****************************************/
  .top-review {
    padding-bottom: 2em;
    float:left;
  }

  .review-info {
    padding-left: 1.5em;
    width:37%;
    float:left;
  }

  .review-feed-info {
    margin: 0;
    width:45%;
    float: left;
    height: auto;
  }

  .review-feed-info h2{
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    font-size: 1.25em;
  }

  .review-item {
    clear:both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-block;
  }

  .review-item h2 a {
    color:#222;
  }

  .review-item h2 a:hover{
    color: #23a4cc;
  }

  .review-item:nth-child(7){
    border-bottom: none;
  }

  .write {
    border-bottom: 1px solid #ccc;
    border-top: 0px;
    padding-bottom: 1em;
  }

/*****************************REVEIW DETAIL*******************************/
  .top-area{
    padding-bottom: 2em;
    float:left;
  }

  .preface{
    float: left;
    width:37%;
    padding-left: 1em;
  }

  .text{
    clear: both;
  }
}
/**********************************************END TABLET****************************************************************************************/
/********************************DESKTOP*********************************************************************************************************/
@media screen and (min-width: 940px) {
    /* Style adjustments for viewports that meet the condition */

    /**********header area*******************/

  #logo{
    width:30%;
    text-align: left;
    float: left;
  }

  nav ul {
    float:right;
    padding-right: 1em;
  }

  /*******************featured story area*******************************/
  .main{
    padding-bottom: 1em;
  }

  .hero-area{
    border-bottom: 1px solid #ccc;
    float:left;
  }

  .top-story{
    padding-right: 1em;
    width:58%;
    border-bottom: 0px;
  }

  .top-img{
    width:100%;
    float:none;
  }

  .top-info{
    width:100%;
    padding-left: 0px;
  }

/***********************************sidebar area*******************************/

  .sidebar{
    clear:none;
    padding-bottom: 0px;
    width: 38%;
    float:left;
    padding-left: 1em;
    border-left: 1px solid #ccc;
  }

  .faq {
    border-bottom: 0px;
  }

  /****************news feed area**************************/

  .feed {
    width:100%;
    border: 0px;
  }

  .feed-item{
    padding-bottom: 1em;
  }

  .feed-image{
    width:25%;
  }

  .feed-info {
    width: 70%;
  }

  .feed p{
    display:block;
  }
  /**********************footer********************/

  #footer-logo{
    padding-top: 1em;
  }

  #footer-logo img{
    width:20%;
  }

  /*****************************************FAQ*******************************************/
  .faq-item:nth-child(4){
    border-bottom: 0px;
    padding-bottom: 1em;
  }
  /*************************************ABOUT PAGE*****************************************/
  .contact-info{
    padding-top: 1em;
  }

  .contact-us {
    float: left;
    padding-right: 8em;
    width: 25%;
  }

  .contact-us h1{
    margin-top: 0px;
  }

  .map-container{
    padding-bottom:50%;
    width:50%;
  }

  .team{
    padding-bottom: 20em;
  }

  .team-name{
    margin: 0px;
  }

  .team-title{
    margin-top: 0px;
  }

  .team-description{
    display:block;
  }

  /****************************CONCERTS**********************************************/
  .concerts {
    width: 70%;
    padding-right: 1.5em;
    border-right: 1px solid #ccc;
    float: left;
    margin-bottom: 25em;
  }

  .concerts h2 {
    width: 60%;
  }

  .concerts-column1 {
    width: 45%;
    float: left;
    margin: 0 2%;
    padding-bottom: 0px;
  }

  .concerts-column2 {
    width: 45%;
    float: right;
    display: block;
  }

  .concert-info h4 {
    line-height: 0.1em;
  }

  .concert-info p {
    line-height: 0.1em;
  }

  .concert-sidebar {
    width: 27%;
    float: left;
  }

  .concert-item {
    clear:both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    margin: auto;
    display: inline-block;
  }

  .concert-item:nth-child(5){
    border-bottom: 0px;
  }
  /*************************************NEWS*****************************************/
  .news-story{
    width:65%;
    float: left;
    padding-right: 1em;
    border-right: 1px solid #ccc;
    margin-bottom: 20em;
  }

  .news-newsletter {
    float: left;
    padding-left: 1em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    width: 30%;
  }

  .news-newsletter input{
    width: 100%;
    box-sizing: border-box;
  }

  .news-newsletter input[type="text"]{
    margin-bottom: 10px;
    padding: 5px 0;
  }
  /*******************************************REVIEWS*****************************************/
  .top-review {
    width: 58%;
    padding-right: 1em;
    border-right: 1px solid #ccc;
    padding-bottom: 3em;
  }

  .review-info {
    padding-left: 0px;
    width:100%;
  }

  .review-feed-info {
    width:72%;
  }

  .write {
    display:none;
  }

  /*****************************REVEIW DETAIL*******************************/
  .review{
    width:68%;
    margin-bottom: 10em;
    float:left;
    padding-right: 1em;
    border-right: 1px solid #ccc;
  }

  .preface{
    width:100%;
    padding-left: 0px;
  }

  .newsletter{
  }
}
/************************************END DESKTOP*****************************************************************/




@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }
&&&*/
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
